---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="BapeSTA">
    <h3 class="text-gray-500 text-center">Remember that the prices are demostrative as they can change</h3>
    <Card 
        title='Bape STA 1 Blue'
        imageUrl='https://i.pinimg.com/736x/d3/15/60/d31560b921a3eab343787dd52e0d8109.jpg' 
        imageAlt='BapeSTA 1 Blue' 
        price={500}
        link='https://www.goat.com/sneakers/air-jordan-3-retro-fire-red-2022-dn3707-160'
        stock={true}
    />
    <Card 
    title='Bape STA 1 Red'
    imageUrl='https://i.pinimg.com/564x/81/ee/82/81ee820cb277b0eb6682cd4ccbf1909b.jpg' 
    imageAlt='BapeSTA 1 Red' 
    price={500}
    link='https://www.goat.com/sneakers/air-jordan-3-retro-fire-red-2022-dn3707-160'
    stock={true}
    />
    <Card 
    title='Bape STA 1 Dark Blue'
    imageUrl='https://i.pinimg.com/564x/bd/d7/00/bdd700c76565a43489506317049f6e8b.jpg' 
    imageAlt='BapeSTA 1 dark blue' 
    price={500}
    link='https://www.goat.com/sneakers/air-jordan-3-retro-fire-red-2022-dn3707-160'
    stock={true}
    />
    <Card 
    title='Bape STA 1 Green'
    imageUrl='https://i.pinimg.com/736x/04/46/4f/04464f3cabf7cfd6139ab327c81d67b3.jpg' 
    imageAlt='BapeSTA 1 Green' 
    price={500}
    link='https://www.goat.com/sneakers/air-jordan-3-retro-fire-red-2022-dn3707-160'
    stock={true}
    />
    <Card 
    title='Bape STA 1 Orange'
    imageUrl='https://i.pinimg.com/564x/b4/0b/24/b40b24ce161b71ef5e60959f752980ca.jpg' 
    imageAlt='BapeSTA 1 Orange' 
    price={500}
    link='https://www.goat.com/sneakers/air-jordan-3-retro-fire-red-2022-dn3707-160'
    stock={true}
    />
</Layout>