---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="Nike">
    <h3 class="text-gray-500 text-center">Remember that the prices are demostrative as they can change</h3>
    <Card 
        title='Air Force 1 White'
        imageUrl='https://i.pinimg.com/564x/88/47/6c/88476c47b680fbb0740395eb570d7248.jpg' 
        imageAlt='Air Force 1 IMG' 
        price={110}
        link='https://www.goat.com/sneakers/air-jordan-3-retro-fire-red-2022-dn3707-160'
        stock={false}
    />
    <Card 
        title='Air Force 1 Black'
        imageUrl='https://i.pinimg.com/736x/9e/98/93/9e98939d72849e9c558b5a67fcd3013d.jpg' 
        imageAlt='Air Force 1 IMG' 
        price={110}
        link='https://www.goat.com/sneakers/air-jordan-3-retro-fire-red-2022-dn3707-160'
        stock={false}
    />
    <Card 
        title='Nike TN Triple Black'
        imageUrl='https://i.pinimg.com/564x/4b/a6/2a/4ba62ae4feaa9ba722a6097510c39143.jpg' 
        imageAlt='Nike Triple Black' 
        price={160}
        link='https://www.goat.com/sneakers/air-jordan-3-retro-silver-anniversary-398613-102'
        stock={false}
    />
    <Card
        title='Nike Air Max Plus 3'
        imageUrl='https://i.pinimg.com/736x/53/eb/3e/53eb3e526b046b80db0788f80e24447b.jpg' 
        imageAlt='Nike Air Max Plus 3' 
        price={169.98}
        link='https://wowjay.com/products/air-jordan-3-retro-unc-ct8532-104?variant=43129932677334'
        stock={false}
        /> 
        <Card 
            title='Nike Shox TL'
            imageUrl='https://i.pinimg.com/736x/2a/21/47/2a21477bc22475be8dfec99640b2a4a4.jpg' 
            imageAlt='Nike Shox TL' 
            price={160}
            link='https://www.goat.com/sneakers/air-jordan-3-retro-silver-anniversary-398613-102'
            stock={false}
        />
        <Card
            title='Nike Vapor Max'
            imageUrl='https://i.pinimg.com/564x/f9/72/e4/f972e4b0c8f4e63dc19cd80f5afd82ce.jpg' 
            imageAlt='Nike Vapor Max' 
            price={169.98}
            link='https://wowjay.com/products/air-jordan-3-retro-unc-ct8532-104?variant=43129932677334'
            stock={false}
            /> 
            <Card 
                title='Nike AirMax 95'
                imageUrl='https://i.pinimg.com/564x/f6/2b/28/f62b2843a90358a6c96d7f3c60402a68.jpg' 
                imageAlt='Nike AirMax 95' 
                price={160}
                link='https://www.goat.com/sneakers/air-jordan-3-retro-silver-anniversary-398613-102'
                stock={false}
            />
            <Card
                title='Nike AirMax 97'
                imageUrl='https://i.pinimg.com/564x/30/39/d2/3039d28f3057412bff58576dfb1d8e8b.jpg' 
                imageAlt='Nike AirMax 97' 
                price={169.98}
                link='https://wowjay.com/products/air-jordan-3-retro-unc-ct8532-104?variant=43129932677334'
                stock={false}
                /> 
</Layout>